p {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}
.header {
  height: 120px;
}
.headerContainer {
  display: flex;
}
.logoLeft {
  width: 120px;
  float: left;
  padding: 10px;
}
.logoSplio {
  height: 100px;
}
.title {
  width: 100%;
  margin-top: 35px;
}
.form {
  margin-top: 20px;
  margin-bottom: 20px;
}
.hideStationTitle,
.hideNoResult {
  display: none;
}
.card {
  display: inline-flex;
  width: 350px;
  height: 230px;
  margin: 10px 10px 10px 10px;
}
.cardContent {
  margin-bottom: 12px;
}
.actualization {
  margin-top: 12px !important;
  font-size: 1rem !important;
  font-style: italic;
}
.stationInfo {
  margin-bottom: 12px !important;
  height: 72px;
}
.titleStation {
  line-height: 1.2 !important;
}
.bike {
  margin: 0px;
}
.bikeGreen {
  color: #23eb05;
  font-weight: bold;
}
.bikeYellow {
  color: #eb9205;
  font-weight: bold;
}
.bikeRed {
  color: #c90902;
  font-weight: bold;
}
